.lcpadding {
  padding-left: calc((100% - 1180px)/2); }
  @media only screen and (max-width: 1199px) {
    .lcpadding {
      padding-left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .lcpadding {
      padding-left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .lcpadding {
      padding-left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .lcpadding {
      padding-left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .lcpadding {
      padding-left: 15px; } }

.cpadding {
  padding-left: calc((100% - 1180px)/2);
  padding-right: calc((100% - 1180px)/2); }
  @media only screen and (max-width: 1199px) {
    .cpadding {
      padding-left: calc((100% - 970px)/2);
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .cpadding {
      padding-left: calc((100% - 750px)/2);
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .cpadding {
      padding-left: calc((100% - 600px)/2);
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .cpadding {
      padding-left: calc((100% - 530px)/2);
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .cpadding {
      padding-left: 15px;
      padding-right: 15px; } }

.rcpadding {
  padding-right: calc((100% - 1180px)/2); }
  @media only screen and (max-width: 1199px) {
    .rcpadding {
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .rcpadding {
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .rcpadding {
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .rcpadding {
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .rcpadding {
      padding-right: 15px; } }

.goalss-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.goalss-col {
  width: 50%;
  padding: 68px 62px 68px 0; }

.goalss-col-l {
  position: relative; }
  .goalss-col-l:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background: #333333;
    z-index: -1; }

.goalss-col-r {
  padding: 68px 30px;
  position: relative; }
  .goalss-col-r:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #eee;
    z-index: -1; }

.heading-2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #333333;
  font-family: "Oswald", "Proxima Nova", Arial, sans-serif;
  margin-bottom: 24px; }
  .heading-2.white {
    color: #FFF; }
  .heading-2.center {
    text-align: center; }
  .heading-2.bg {
    z-index: 1;
    position: relative; }
    .heading-2.bg:before {
      content: "";
      display: block;
      position: absolute;
      left: 23%;
      top: 50%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 65px;
      height: 66px;
      background: url("../img/content-images/blur.png") no-repeat center;
      z-index: -1; }

p.ptext {
  font-size: 16px;
  line-height: 1.2;
  color: #333333;
  margin-bottom: 12px; }

li.list-item {
  position: relative;
  padding-left: 16px;
  margin-bottom: 1.5em; }
  li.list-item:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: url("../img/icons/marker.png") no-repeat center center/contain;
    position: absolute;
    top: 5px;
    left: 0; }

.resultss {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -20px; }

.resultss-it {
  margin-bottom: 59px;
  width: 50%;
  padding: 0 20px; }

.resultss-txt-1 {
  font-weight: bold;
  font-size: 64px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-family: "Oswald", "Proxima Nova", Arial, sans-serif; }

.resultss-txt-2 {
  font-size: 16px;
  line-height: 1.2;
  color: white;
  max-width: 191px;
  width: 100%; }

.progress-list-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px; }

ul.progress-list {
  padding: 0 15px;
  margin-top: 24px;
  width: 33.3333%; }

.progress-section {
  padding: 50px; }

.progress-row {
  margin-bottom: 50px; }

.progress-tit {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 17px;
  color: #333; }
  .progress-tit span {
    color: #039BE5; }

.progress-subtit {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 17px;
  color: #333333; }

.progress-content-gray {
  padding: 50px 136px;
  position: relative; }
  .progress-content-gray._left {
    width: 100%;
    padding: 50px 173px 50px 0; }
    .progress-content-gray._left:before {
      content: "";
      display: block;
      background-color: #eee;
      width: 200vw;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1; }
  .progress-content-gray._right {
    margin-left: 102px;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .progress-content-gray._right:before {
      content: "";
      display: block;
      background-color: #eee;
      width: 200vw;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1; }

.progress-left-col {
  width: 33.333%;
  padding: 0 15px; }
  .progress-left-col .progress-list {
    width: 100%;
    padding: 0; }
  .progress-left-col .progress-subtit {
    margin-bottom: 0; }

.progress-col-50 {
  width: 50%;
  padding: 0 15px; }
  .progress-col-50 ul.progress-list {
    width: 100%;
    padding: 0; }

.progress-items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px; }

.progress-it {
  padding: 0; }
  .progress-it .resultss-txt-1 {
    color: #333;
    -webkit-text-stroke: unset; }
    .progress-it .resultss-txt-1._blue {
      color: #039BE5; }
  .progress-it .resultss-txt-2 {
    color: #333; }
  .progress-it:not(:last-child) {
    margin-right: 121px; }

.progress-items-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .progress-items-wrap .progress-items {
    margin-top: 0; }

.progress-items-col {
  width: 50%; }

.mobile-cahrt {
  width: 450px;
  height: 450px;
  margin: 35px auto;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .mobile-cahrt span {
    font-weight: bold;
    font-size: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.mobile-cahrts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.mobile-before span {
  color: #FF4E42; }

.mobile-after span {
  color: #01CC64; }

.pie-chart {
  max-width: 350px;
  height: 350px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }

.d3-tip {
  font-size: 14px;
  transition: 0.3s opacity linear, 0.3s transform linear;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 15px;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  color: #333;
  text-align: center; }
  .d3-tip p {
    margin: 0;
    padding: 0; }
  .d3-tip.is-active {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }

.d3-tip__label {
  font-weight: bold; }

.half-donut-it {
  width: 350px;
  height: 350px; }

.half-donut-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.wh350 {
  width: 350px;
  height: 350px; }

.donut-chart {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 100%; }

p.center {
  background: #ffffff;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0; }

.portion-block {
  border-radius: 50%;
  clip: rect(0px, 350px, 350px, 175px);
  height: 100%;
  position: absolute;
  width: 100%; }

.circle {
  border-radius: 50%;
  clip: rect(0px, 175px, 350px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem; }

#part1 {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg); }
  #part1 .circle {
    background-color: #E64C65;
    -webkit-transform: rotate(100deg);
        -ms-transform: rotate(100deg);
            transform: rotate(100deg); }

#part2 {
  -webkit-transform: rotate(100deg);
      -ms-transform: rotate(100deg);
          transform: rotate(100deg); }
  #part2 .circle {
    background-color: #11A8AB;
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }

#part3 {
  -webkit-transform: rotate(250deg);
      -ms-transform: rotate(250deg);
          transform: rotate(250deg); }
  #part3 .circle {
    background-color: #4FC4F6;
    -webkit-transform: rotate(111deg);
        -ms-transform: rotate(111deg);
            transform: rotate(111deg); }

/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media (max-width: 640px) {
  .hide-pda {
    display: none; } }

body.active {
  background: url("../img/1920.jpg") no-repeat top 0px center; }
  body.active .wrapper {
    opacity: 0.4; }
  body.active .footer {
    opacity: 0.4; }
  body.active .get {
    opacity: 0.4; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  z-index: 100;
  border-radius: 50%; }
