.lcpadding {
  padding-left: calc((100% - 1180px)/2); }
  @media only screen and (max-width: 1199px) {
    .lcpadding {
      padding-left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .lcpadding {
      padding-left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .lcpadding {
      padding-left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .lcpadding {
      padding-left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .lcpadding {
      padding-left: 15px; } }

.cpadding {
  padding-left: calc((100% - 1180px)/2);
  padding-right: calc((100% - 1180px)/2); }
  @media only screen and (max-width: 1199px) {
    .cpadding {
      padding-left: calc((100% - 970px)/2);
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .cpadding {
      padding-left: calc((100% - 750px)/2);
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .cpadding {
      padding-left: calc((100% - 600px)/2);
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .cpadding {
      padding-left: calc((100% - 530px)/2);
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .cpadding {
      padding-left: 15px;
      padding-right: 15px; } }

.rcpadding {
  padding-right: calc((100% - 1180px)/2); }
  @media only screen and (max-width: 1199px) {
    .rcpadding {
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .rcpadding {
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .rcpadding {
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .rcpadding {
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .rcpadding {
      padding-right: 15px; } }

.goalss-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.goalss-col {
  width: 50%;
  padding: 68px 62px 68px 0; }

.goalss-col-l {
  position: relative; }
  .goalss-col-l:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background: #333333;
    z-index: -1; }

.goalss-col-r {
  padding: 68px 30px;
  position: relative; }
  .goalss-col-r:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #eee;
    z-index: -1; }

.heading-2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #333333;
  font-family: "Oswald", "Proxima Nova", Arial, sans-serif;
  margin-bottom: 24px; }
  .heading-2.white {
    color: #FFF; }
  .heading-2.center {
    text-align: center; }
  .heading-2.bg {
    z-index: 1;
    position: relative; }
    .heading-2.bg:before {
      content: "";
      display: block;
      position: absolute;
      left: 23%;
      top: 50%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 65px;
      height: 66px;
      background: url("../img/content-images/blur.png") no-repeat center;
      z-index: -1; }

p.ptext {
  font-size: 16px;
  line-height: 1.2;
  color: #333333;
  margin-bottom: 12px; }

li.list-item {
  position: relative;
  padding-left: 16px;
  margin-bottom: 1.5em; }
  li.list-item:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: url("../img/icons/marker.png") no-repeat center center/contain;
    position: absolute;
    top: 5px;
    left: 0; }

.resultss {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -20px; }

.resultss-it {
  margin-bottom: 59px;
  width: 50%;
  padding: 0 20px; }

.resultss-txt-1 {
  font-weight: bold;
  font-size: 64px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-family: "Oswald", "Proxima Nova", Arial, sans-serif; }

.resultss-txt-2 {
  font-size: 16px;
  line-height: 1.2;
  color: white;
  max-width: 191px;
  width: 100%; }

.progress-list-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px; }

ul.progress-list {
  padding: 0 15px;
  margin-top: 24px;
  width: 33.3333%; }

.progress-section {
  padding: 50px; }

.progress-row {
  margin-bottom: 50px; }

.progress-tit {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 17px;
  color: #333; }
  .progress-tit span {
    color: #039BE5; }

.progress-subtit {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 17px;
  color: #333333; }

.progress-content-gray {
  padding: 50px 136px;
  position: relative; }
  .progress-content-gray._left {
    width: 100%;
    padding: 50px 173px 50px 0; }
    .progress-content-gray._left:before {
      content: "";
      display: block;
      background-color: #eee;
      width: 200vw;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1; }
  .progress-content-gray._right {
    margin-left: 102px;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .progress-content-gray._right:before {
      content: "";
      display: block;
      background-color: #eee;
      width: 200vw;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1; }

.progress-left-col {
  width: 33.333%;
  padding: 0 15px; }
  .progress-left-col .progress-list {
    width: 100%;
    padding: 0; }
  .progress-left-col .progress-subtit {
    margin-bottom: 0; }

.progress-col-50 {
  width: 50%;
  padding: 0 15px; }
  .progress-col-50 ul.progress-list {
    width: 100%;
    padding: 0; }

.progress-items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px; }

.progress-it {
  padding: 0; }
  .progress-it .resultss-txt-1 {
    color: #333;
    -webkit-text-stroke: unset; }
    .progress-it .resultss-txt-1._blue {
      color: #039BE5; }
  .progress-it .resultss-txt-2 {
    color: #333; }
  .progress-it:not(:last-child) {
    margin-right: 121px; }

.progress-items-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .progress-items-wrap .progress-items {
    margin-top: 0; }

.progress-items-col {
  width: 50%; }

.mobile-cahrt {
  width: 450px;
  height: 450px;
  margin: auto;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0; }
  .mobile-cahrt span {
    font-weight: bold;
    font-size: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.mobile-cahrts-section {
  margin-bottom: 300px; }

.mobile-cahrts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 57px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.mobile-before span {
  color: #FF4E42; }

.mobile-after span {
  color: #01CC64; }

.mobile-cahrts-link {
  font-weight: bold;
  font-size: 24px;
  color: #333333;
  text-align: center;
  display: block;
  margin-top: -30px; }

.pie-chart {
  max-width: 350px;
  height: 350px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }

.d3-tip {
  font-size: 14px;
  transition: 0.3s opacity linear, 0.3s transform linear;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 15px;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  color: #333;
  text-align: center; }
  .d3-tip p {
    margin: 0;
    padding: 0; }
  .d3-tip.is-active {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }

.d3-tip__label {
  font-weight: bold; }

.half-donut-it {
  width: 350px;
  height: 350px; }

.half-donut-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.wh350 {
  width: 350px;
  height: 350px; }

.donut-chart {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 100%; }

p.center {
  background: #ffffff;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0; }

.portion-block {
  border-radius: 50%;
  clip: rect(0px, 350px, 350px, 175px);
  height: 100%;
  position: absolute;
  width: 100%; }

.circle {
  border-radius: 50%;
  clip: rect(0px, 175px, 350px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem; }

#part1 {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg); }
  #part1 .circle {
    background-color: #E64C65;
    -webkit-transform: rotate(100deg);
        -ms-transform: rotate(100deg);
            transform: rotate(100deg); }

#part2 {
  -webkit-transform: rotate(100deg);
      -ms-transform: rotate(100deg);
          transform: rotate(100deg); }
  #part2 .circle {
    background-color: #11A8AB;
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }

#part3 {
  -webkit-transform: rotate(250deg);
      -ms-transform: rotate(250deg);
          transform: rotate(250deg); }
  #part3 .circle {
    background-color: #4FC4F6;
    -webkit-transform: rotate(111deg);
        -ms-transform: rotate(111deg);
            transform: rotate(111deg); }

.anychart-credits {
  display: none !important; }

h6 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #333333; }

.spped-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 24px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -22px;
  margin-right: -22px; }

.spped-it {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: 2;
  margin: 0 22px;
  max-width: calc(50% - 44px); }

.spped-row-bottom {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto; }
  .spped-row-bottom .spped-it {
    margin-bottom: 24px;
    width: 33.3333%;
    margin-right: 0;
    margin-left: 0;
    padding: 0 20px;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
        justify-content: center; }

.spped-color {
  width: 40px;
  height: 16px;
  margin-right: 12px;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  margin-top: 2px; }

.spped-cap {
  color: #333333;
  font-size: 16px; }

.spped-red {
  background: #ff4e42; }

.spped-or {
  background: #ffa000; }

.spped-lightgray {
  background-color: #E5E5E5; }

.spped-gray {
  background-color: #BDBDBD; }

.spped-blue {
  background-color: #039BE5; }

.spped-dblue {
  background: #0277BD; }

.spped-green {
  background: #01cc64; }

.spped-info {
  display: block;
  margin-left: 16px;
  height: 19px;
  width: 19px;
  cursor: pointer; }

.chart-donut {
  width: 550px;
  height: 550px; }

.mobile-cahrts-devices {
  margin-top: -70px; }

.spped-row-devices {
  margin-top: 30px;
  position: relative;
  z-index: 2; }

.mobile-cahrts-mounth {
  text-align: center;
  font-size: 16px;
  color: #000000;
  opacity: 0.5;
  position: relative;
  z-index: 2;
  margin-top: -80px; }

.charts-head {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 10px;
  position: relative;
  z-index: 2; }

.visits-cahrts-block {
  margin-top: 100px; }

.table-head {
  border-collapse: collapse;
  margin-top: 90px;
  width: 100%; }
  .table-head tr:nth-child(2) td {
    vertical-align: bottom;
    font-size: 16px; }
  .table-head td {
    border: 1px solid rgba(51, 51, 51, 0.1);
    width: 16.666666%;
    padding: 24px 15px;
    font-weight: 800;
    font-size: 24px;
    color: #333333;
    text-align: center; }
    .table-head td[rowspan="2"] {
      width: 33.33333%;
      text-align: left;
      padding-right: 85px; }
    .table-head td:first-child {
      border-left: none; }
    .table-head td:last-child {
      border-right: none; }

.table-head-td {
  font-weight: 800;
  font-size: 24px;
  color: #333333;
  text-align: center;
  vertical-align: middle !important; }

.table-thead-td2 {
  vertical-align: bottom !important; }

.tbl-head {
  font-weight: 800;
  font-size: 37px;
  line-height: 1.25;
  color: #039BE5; }

.table-body {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 90px 0; }
  .table-body thead tr td {
    border: none; }
  .table-body tbody td {
    border: 1px solid rgba(51, 51, 51, 0.1);
    text-align: center;
    font-weight: 700;
    color: #039BE5; }
  .table-body td {
    padding: 16px;
    width: 16.666666%; }
    .table-body td:first-child {
      width: 33.333%;
      border-left: none;
      font-weight: normal;
      font-size: 16px;
      color: #333333;
      text-align: left; }
    .table-body td:last-child {
      border-right: none; }

.tbl-subgead {
  font-weight: 800;
  font-size: 24px;
  color: #333333; }

.charts-section {
  margin: 100px 0; }

.charts-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -15px;
  margin-bottom: 60px; }

.charts-col {
  padding: 0 15px;
  width: 50%; }

.charts-col-100 {
  width: 100%;
  padding: 0 15px; }

.charts-item {
  width: 100%;
  margin-top: 30px;
  position: relative;
  z-index: 2;
  padding-bottom: 32px; }

.charts-line {
  font-size: 16px;
  color: #333333;
  padding: 5px 0;
  width: 100%;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1); }
  .charts-line:not(:last-child) {
    margin-bottom: 31px; }

.spped-row-chart-it {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.spped-row-20 .spped-it {
  max-width: calc(20% - 44px); }

.charts-grow {
  position: absolute;
  bottom: 0;
  left: 100px;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.charts-gcol {
  width: 70px;
  margin: 0 15px; }

.charts-gcol-inn {
  width: 100%;
  text-align: center;
  padding-top: 10px; }
  .charts-gcol-inn p {
    white-space: nowrap;
    width: 100%; }
  .charts-gcol-inn.blue {
    background: #039BE5;
    color: #FFF; }
  .charts-gcol-inn.dblue {
    background: #0277BD;
    color: #FFF; }
  .charts-gcol-inn.blue2 {
    background: #B3E1F7;
    color: #FFF; }
  .charts-gcol-inn.blue3 {
    background: rgba(2, 119, 189, 0.3); }
  .charts-gcol-inn.blue4 {
    background: rgba(3, 155, 229, 0.3); }
  .charts-gcol-inn.gray {
    background: #BDBDBD;
    color: #FFF; }
  .charts-gcol-inn.gray2 {
    background: #E5E5E5; }
  .charts-gcol-inn.green {
    background: #01CC64; }
  .charts-gcol-inn.green2 {
    background: #E7FAF0;
    color: #01CC64; }
  .charts-gcol-inn.or {
    background: #FFA000; }
  .charts-gcol-inn.or2 {
    background: #FFECCC; }
  .charts-gcol-inn.red {
    background: #FF4E42; }
  .charts-gcol-inn.red2 {
    background: #FFEEEC; }

.charts-hide {
  opacity: 0; }

.charts-gcol-cap {
  text-align: center;
  font-size: 16px;
  color: #000000;
  opacity: 0.5;
  position: relative;
  z-index: 2;
  margin-top: 13px;
  white-space: nowrap; }

.chart-line {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }
  .chart-line polyline {
    width: 100%;
    height: 100%; }

.chart-line-1 {
  margin-left: -62px; }

.apexcharts-yyy-label {
  display: block;
  text-align: left; }

.spped-row-chart-it-23 {
  margin-top: -29px;
  position: relative;
  z-index: 2; }

.total-visits {
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  z-index: 10; }

.blue-total {
  right: 0px;
  top: 42px;
  color: #039BE5; }

.gray-total {
  right: 0px;
  top: 220px;
  color: #BDBDBD; }

.stroke-3 {
  color: transparent;
  -webkit-text-stroke: 1px #333; }

.sreview {
  margin: 152px 0 90px 0; }

.sreview-wrap {
  margin-top: 24px; }

.h54 {
  font-size: 54px; }

.card-image-centr {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.conts-row {
  margin: 0 -14px;
  margin-top: 35px; }

.conts-left-col,
.conts-right-col {
  padding: 0 14px; }

.conts-left-col {
  width: 50%; }

.conts-right-col {
  width: 50%; }

.conts-p {
  font-size: 16px;
  line-height: 1.8;
  color: #333333;
  margin-bottom: 20px; }
  .conts-p a {
    color: #039BE5; }

.bread-ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-weight: 600;
  font-size: 14px; }
  .bread-ul li {
    margin-right: 8px; }
  .bread-ul a {
    color: #039BE5; }

.banner-list .list-item {
  margin-bottom: 5px; }

.advantages-grid-teh .advantage-card {
  padding-left: 10px;
  padding-right: 10px; }

.subtitle-blue {
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #039BE5;
  font-weight: 900;
  font-size: 24px; }

.sc-subtitle2 {
  font-size: 16px;
  margin-top: 8px;
  color: #333333;
  line-height: 1.2; }

.plans-table thead th.thbottom {
  vertical-align: bottom;
  padding-top: 11px; }

.plus-section {
  padding: 0  0 40px 0;
  margin-top: -45px; }

.p24px {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 0; }
  .p24px:not(:last-child) {
    margin-bottom: 24px; }
  .p24px b, .p24px strong {
    font-weight: 900; }

.plus-list {
  margin-top: -15px; }
  .plus-list .list-item {
    margin-bottom: 15px; }

.faq-section {
  padding: 40px 0;
  background: #EEE; }

.ac-caption2 {
  font-size: 24px;
  font-weight: 800; }

.accordion {
  margin-bottom: 0; }
  .accordion ol {
    padding-left: 30px;
    margin-top: 10px; }
    .accordion ol li {
      margin-bottom: 10px; }
  .accordion .ac-content2 {
    padding: 6px 30px 20px 30px; }

.accordion .ac-content ul.ac-list {
  display: block;
  padding-left: 17px; }

.ac-list {
  margin-top: 15px; }
  .ac-list .list-item {
    margin-bottom: 7px; }

.accordion:last-child {
  border-bottom: 2px solid #333; }

/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media (max-width: 640px) {
  .hide-pda {
    display: none; } }

body.active {
  background: url("../img/1920.jpg") no-repeat top 0px center; }
  body.active .wrapper {
    opacity: 0.4; }
  body.active .footer {
    opacity: 0.4; }
  body.active .get {
    opacity: 0.4; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  z-index: 100;
  border-radius: 50%; }
