@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;


.company-logo {

}


.lcpadding {
  padding-left: calc((100% - 1180px)/2);    
  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {
    padding-left: 15px;
  }
}

.cpadding {
  padding-left: calc((100% - 1180px)/2);
  padding-right: calc((100% - 1180px)/2);
  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
    padding-right: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
    padding-right: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
    padding-right: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
    padding-right: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.rcpadding {  
  padding-right: calc((100% - 1180px)/2);
  @media only screen and (max-width : 1199px) {    
    padding-right: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {    
    padding-right: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {    
    padding-right: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {    
    padding-right: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {    
    padding-right: 15px;
  }
}



.goalss-section {

}


.goalss-row {
  display: flex;  
}

.goalss-col {
  width: 50%;
  padding: 68px 62px 68px 0;
}

.goalss-col-l {
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background: #333333;
    z-index: -1;
  }  
}
.goalss-col-r {
  padding: 68px 30px;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #eee;
    z-index: -1;
  }  
}

.heading-2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #333333;
  font-family: "Oswald", "Proxima Nova", Arial, sans-serif;
  margin-bottom: 24px;
  &.white {
    color: #FFF;
  }
  &.center {
    text-align: center;
  }
  &.bg {
    z-index: 1;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 23%;
      top: 50%;
      transform: translate(0, -50%);
      width: 65px;
      height: 66px;        
      background: url("../img/content-images/blur.png")  $nr center;

      z-index: -1;
    }  
  }
}

p.ptext {
  font-size: 16px;
  line-height: 1.2;
  color: #333333;
  margin-bottom: 12px;
}

ul.list {

}

li.list-item {
  position: relative;
  padding-left: 16px;
  margin-bottom: 1.5em;
  &:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: url('../img/icons/marker.png') no-repeat center center/contain;
    position: absolute;
    top: 5px;
    left: 0;
  }
}



.resultss {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.resultss-it {
  margin-bottom: 59px;
  width: 50%;
  padding: 0 20px;
}

.resultss-txt-1 {
  font-weight: bold;
  font-size: 64px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-family: "Oswald", "Proxima Nova", Arial, sans-serif;
}

.resultss-txt-2 {
  font-size: 16px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  max-width: 191px;
  width: 100%;
}

.progress-list-row {
  display: flex;
  margin: 0 -15px;  
  &._noflex {

  }

}



ul.progress-list {
  padding: 0 15px;
  margin-top: 24px;
  width: 33.3333%;
}

.progress-section {
  padding: 50px;
}
.progress-row {
  margin-bottom: 50px;
}

.progress-tit {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 17px;
  color: #333;
  span {
    color: #039BE5;
  }
}
.progress-subtit {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 17px;
  color: #333333;  
}

.progress-content-gray {
  padding: 50px 136px;
  position: relative;
  &._left {
    width: 100%;    
    padding: 50px 173px 50px 0;
    &:before {
      content: "";
      display: block;
      background-color: #eee;
      width: 200vw;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0; 
      z-index: -1;
    }    
  }
  &._right {
    margin-left: 102px;    
    flex-grow: 1;
    &:before {
      content: "";
      display: block;
      background-color: #eee;
      width: 200vw;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;  
      z-index: -1;
    }
  }
}

.progress-left-col {
  width: 33.333%;
  padding: 0 15px;
  .progress-list {
    width: 100%;
    padding: 0;
  }
  .progress-subtit {
   margin-bottom: 0;
 }
}

.progress-col-50 {
  width: 50%;
  padding: 0 15px;
  ul.progress-list {
    width: 100%;
    padding: 0;
  }
  .progress-subtit {    
  }
}

.progress-items {
  display: flex;
  margin-top: 33px;
}
.progress-it {
  padding: 0;
  .resultss-txt-1 {
    color: #333;
    -webkit-text-stroke: unset;
    &._blue {
      color: #039BE5;
    }
  }
  .resultss-txt-2 {
    color: #333;
  }
  &:not(:last-child) {
    margin-right: 121px;
  }
}

.progress-items-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .progress-items {
    margin-top: 0;
  }
}

.progress-items-col {
  width: 50%;
}




.mobile-cahrt {
  width: 450px;
  height: 450px;
  margin: 35px auto;
  position: relative;
  display: flex;  
  align-items: center;
  justify-content: center;
  span {
    font-weight: bold;
    font-size: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  }
}

.mobile-cahrts {
  display: flex;
  
}


.mobile-before {
  span {
    color: #FF4E42;  
  }
}

.mobile-after {
  span {
    color: #01CC64;
  }
}




.pie-chart {
  max-width: 350px;
  height: 350px;  
  transform: rotate(90deg);
}

.d3-tip {
  font-size: 14px;
  transition: 0.3s opacity linear, 0.3s transform linear;
  background-color: rgba(#fff,0.7);
  padding: 10px 15px;
  transform: translateY(-10px);
  color: #333;
  text-align: center;
  
  p {
    margin: 0;
    padding: 0;
  }

  &.is-active {
    opacity: 1;
    transform: translateY(0);
  }
}

.d3-tip__label {
  font-weight: bold;
}


.half-donut-it {
  width: 350px;
  height: 350px;
  &:nth-child(1) {
    canvas {
      //transform: translate(50%, 0);
    }    

  }  
}

.half-donut-row {
  display: flex;
}




.wh350 {
  width: 350px;
  height: 350px;
}





.donut-chart {
  position: relative;
  width: 350px;
  height: 350px;  
  border-radius: 100%
}

p.center {
  background: #ffffff;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width: 200px;
  height: 200px;  
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}

.portion-block {
  border-radius: 50%;
  clip: rect(0px, 350px, 350px, 175px);
  height: 100%;
  position: absolute;
  width: 100%;
}

.circle {
  border-radius: 50%;
  clip: rect(0px, 175px, 350px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;
}


#part1 {
  transform: rotate(0deg);
  .circle {
  background-color: #E64C65;  
  transform: rotate(100deg);
}
}




#part2 {
  transform: rotate(100deg);
  .circle {
    background-color: #11A8AB;
    transform: rotate(150deg);
  }
}

#part3 {
  transform: rotate(250deg);
  .circle {
    background-color: #4FC4F6;  
    transform: rotate(111deg);
  }
}






@import "_media.scss";
@import "_after-styless";